body{
    height:auto !important;
}

.page-header {
    position: fixed !important;
    top: 0;
    width: 100vw !important;
    margin-top: 2vh;
    padding: 10px;
  
    padding-left: 20px
  }

  .body-box {
    height: 40vh;
    margin-top: 25vh;
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: center

}

.actions-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 100px
}

.actions{
    margin-right: 40px
}

.score-box{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px
}

.score {
    font-size: 65px
   
}



