body{
    height:auto !important;
}

.page-header {
    position: fixed !important;
    top: 0;
    width: 100vw !important;
    margin-top: 2vh;
    padding: 10px;
    width: 100vw;
    padding-left: 20px;;
  }

  .body-box {
    height: 78vh;
    margin-top: 12vh;
    overflow: scroll;

}

.actions-header {
    display: flex;

    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.actions{
    display: flex;
    align-items: center;
    margin-right: 5vh;
    gap: 2vh;
}