body{
    height:auto !important;
}

.my-invites-header {
    position: fixed !important;
    top: 0;
    width: 100vw !important;
    margin-top: 2vh;
    padding: 10px;
  
    padding-left: 20px;;
  }

  .my-invites-body {
    height: 78vh;
    margin-top: 12vh;
    overflow: scroll;

}

.actions-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 100px;
}

.actions{
    margin-right: 40px;
}

.score-box{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px
}

.score {
    font-size: 65px;
   
}

.invite {
    width: 83vw;
}

.player-box{
    border: 1px solid rgb(219, 219, 219);
    height: 100%;
    margin-top: 10px;
    border-radius: 5px;
    padding: 2px;
    overflow: scroll;
}